body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    text-align: center;
}

nav {
    border-style: solid;
    width: fit-content;
    text-align: center;
}

nav a {
    display: block;
    margin: auto;
}
